[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap
[submodule "external/customhttparser"]
	path = external/customhttparser
	url = https://github.com/ZwCreatePhoton/customhttparser.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/libtins"]
	path = external/libtins
	url = https://github.com/ZwCreatePhoton/libtins.git
[submodule "external/customftparser"]
	path = external/customftparser
	url = https://github.com/ZwCreatePhoton/customftparser.git
